.upper,
.middle,
.bottom {
  height: 2px;
  position: absolute;
  width: 24px;
  background-color: black;
  transition: all 0.25s;
}
.middle {
  transform: translateY(-7px);
}
.upper {
  transform: translateY(-14px);
}
.upper.open {
  transform: translateY(3px);
  transform: rotate(45deg);
  transition: all 0.25s;
}
.middle.open {
  display: none;
}
.bottom.open {
  transform: translateY(-14px);
  transform: rotate(-45deg);
  transition: all 0.25s;
}
.notify {
  height: 20px;
  width: 20px;
  padding-left: 9px;
  transform: translate(50px, 3px);
}
